<div class="topContainer">
  <img class = "lrm-logo"  src="assets/3.png" alt="logo" >
  <span> <img class= "line" src="assets/1.png" alt=""></span>
  <h2 class="header" >IMPORT PAGE</h2>
</div>
<div class="bottomContainer">
  <div class="content">
    <h3>Action</h3>
    <label for="button" class="dropbtn">
      Update<i class="arrow-down"></i>
    </label>
    <input type="button" id="button" style="display: none;">
  </div>
  <div class="content1">
    <h3>Import Platform</h3>
    <button class="dropbtn">Timesheet<i class="arrow-down"></i></button>
  </div>
  <form class="content1">
    <h3>Upload CSV file</h3>
    <label for="file-upload" *ngIf=!isFileChosen class="btn1" >
      <i class="fa fa-upload" style="margin-right :40px"></i> Upload a file
    </label>
    <input type="file" id="file-upload" accept=".csv" #fileInput (change)="preUpload($event)"  style="display:none;" />
    <label *ngIf=isFileChosen  class="btn1"><img src="assets/4.png" style="margin-right: 50px; margin-left: 0;">{{fileName}}</label>
  </form>
  <div  class="attribute">
    <h3>Attributes</h3>
    <div class="btn1">
      <ng-multiselect-dropdown 
        [placeholder]="'Choose Attributes'"
        [settings]="dropdownSettings"
        [data]="dropdownList"
        [(ngModel)]="selectedItems"
        (onSelect)="onItemSelect($event)"
        (onSelectAll)="onSelectAll($event)">
      </ng-multiselect-dropdown>
    </div>
  </div>
  <label for="submit" class="submit">
    SUBMIT
  </label>
  <input type="button" id="submit" style="display: none;">

</div>
<div style="text-align: center;">
  <h6 style="color: gray; margin-top: 19px;">Powered by</h6>
  <img src="assets/2.jpeg" alt="logo">
</div>
